/**
 * Companion Layout
 */

main {
    flex: 1;
    background: var(--color-border-strong);
    overflow: hidden;
    transition: background var(--transition-slow);
}

main:not(.settings-view) {
    display: grid;
    grid-template-columns: 350px 1fr;
}

main.settings-view {
    background: var(--color-bg);
    overflow-y: auto;
}
